{% extends "home/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block nav %}
    <li><a href="#complaints">View Complaints</a></li>
    <li><a href="{% url 'upload' %}">Post Announcement</a></li>
    <li><a href="fee">View Fee Details</a></li>
    <li><a href="#hostelapplications">View Hostel Applications</a></li>
{% endblock nav %}
{% block content %}
	{% if applications %}
		<div class="container" id="hostelapplications">
			<h1 style="text-align: center;">Hostel Applications</h1>
			<div class="table">
				<div class="table-header">
					<div class="header__item">Hostel Name</div>
					<div class="header__item">Student ID</div>
					<div class="header__item">Student Name</div>
					<div class="header__item">Chandigarh Quota</div>
					<div class="header__item">Anti Ragging Certificate</div>
					<div class="header__item">No Vehicle Affidavite</div>
					<div class="header__item">Application Date</div>
				</div>
				
				{% for application in applications %}
					<div class="table-content">
						<div class="table-row">
							<div class="table-data">{{application.hostelName}}</div>
							<div class="table-data">{{application.sid}}</div>
							<div class="table-data">{{application.studentName}}</div>
							<div class="table-data">{{application.isChandigarhQuota}}</div>
							<div class="table-data">
								<a href="{{ application.antiRaggingAffidavite.url }}" style="font-size: small;">Anti Ragging Affidavite
								</a>
							</div>
							<div class="table-data">
								<a href="{{ application.antiRaggingAffidavite.url }}" style="font-size: small;">No vehicle Affidavite
								</a>
							</div>
							<div class="table-data">{{application.dateApplied}}</div>
						</div>
						
					</div>
				{% endfor %}
				
			</div>
		</div>
	{% else %}
		<div class="alert alert-info m-10" style="font-size: 20px; text-align: center; margin: 5%; margin-bottom: 0;">
  			<strong>Info!</strong> You don't have any Hostel applications.
		</div>
	{% endif %}
	<br><br>
	{% if complaints %}
		<div class="container" id="complaints">
			<h1 style="text-align: center;">Complaints</h1>
			<div class="table">
				<div class="table-header">
					<div class="header__item1">Regarding</div>
					<div class="header__item1">Title</div>
				</div>
				
				{% for complaint in complaints %}
					<div class="table-content">
						<div class="table-row">
							<div class="table-data1">{{complaint.category}}</div>
							<div class="table-data1" style="text-align: left;">{{complaint.title}}</div>
						</div>
						
					</div>
				{% endfor %}
				
			</div>
		</div>
	{% else %}
		<div class="alert alert-info m-10" style="font-size: 20px; text-align: center; margin: 5%; margin-top: 0;">
  			<strong>Info!</strong> You don't have any Complaints.
		</div>
	{% endif %}
{% endblock content %}

