{% extends "home/base.html" %}
{% load static %}
{% block nav %}
	{% if not user.is_superuser %}
    <li><a href="#">Pay Mess Bill</a></li>
    <li><a href="{% url 'postComplaint' %}">Post Complaint</a></li>
    <li><a data-target="#myModal" data-toggle="modal" class="MainNavText" id="MainNavHelp" title="ababab" href="#myModal">Announcements</a></li>
    <li><a href="{% url 'application-for-hostel' %}">Apply For Hostel</a></li>
  {% else %}
    <li><a href="{% url 'upload' %}">Post Announcement</a></li>
    <li><a href="{% url 'fee' %}">View Fee Details</a></li>
  {% endif %}
{% endblock nav %}
{% block content %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>

  <p><a href="{% url 'web-home' %}">Return to home</a></p>
{% endblock %}