{% extends "home/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block nav %}
   {% if not user.is_superuser %}
    <li><a href="{% url 'payment' %}">Pay Mess Bill</a></li>
    <li><a href="{% url 'upload' %}">Post Complaint</a></li>
    <li><a data-target="#myModal" data-toggle="modal" class="MainNavText" id="MainNavHelp" title="ababab" href="#myModal">Announcements</a></li>
    <li><a href="{% url 'application-for-hostel' %}">Apply For Hostel</a></li>
  {% else %}
    <li><a href="{% url 'upload' %}">Post Announcement</a></li>
    <li><a href="{% url 'fee' %}">View Fee Details</a></li>
  {% endif %}
{% endblock nav %}
{% block content %}
	<div class="alert alert-info m-5 p-5">
	  <h1 style="text-align: center;"><strong>Success!</strong> </h1>
	  <h4 style="text-align: center;">Your action has been completed successfully.</h4>
	</div>
  <div class="modal fade" data-backdrop="static" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Announcements</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body" id="modalBody">
                  <!-- Modal body.. -->
          {% for notification in notifications %}
              <small>
                  <a href="{% url 'notification' id=notification.id %}">
                      <small style="text-decoration-color: blue;">
                          <i class="fa fa-arrow-right" aria-hidden="true" style="margin-right: 5px;"></i>{{notification.title}}
                      </small>
                  </a>
                  ,   ({{notification.date_posted|date:"D M, Y"}})
              </small>
              <hr>
          {% endfor %}
        </div>
          
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
              
      </div>
    </div>
  </div>
{% endblock content %}